body {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 0 16px;

}
div.body{
  width: 516px;
  margin: 0 auto;
}
main,footer{
  width: 100%;
}
.title{
  font-size: 26px;
}
.form-head{
  margin-bottom: 1rem;
  padding: 26px 0;
}
.title-text{
  font-size: 26px;
  width: 80%;
  background-color: #101010;
  text-align: left;
}
.form-sub div{
  margin-bottom: 4px;
  display: inline-block;
}
::placeholder{
  color: #F0F0F0;
  opacity: .1;
}
.title-form{
  padding: 36px 0;
}
.right{
  float: right;
  margin: 0;
  padding: 0;
}
main{
  margin-bottom: 4rem;
}
textarea {
  font-family: Arial, sans-serif;
  font-size: 16px;
  width: 88%;
  height: 700px;
  padding: 2rem;
  background-color: #181818;
  border: none;
  border-radius: 2px;
  position: relative;
  outline: none;
  resize: none;
  margin-bottom: 1rem;
}
.btnn{
  background-color: #181818;
  border: none;
  font-size: 26px;
  padding: 5px 12px;
  border-radius: 2px;
  float: right;
}
.form-id{
  font-size: 16px;
}
.btnn:hover{
  background-color: #101010;
  padding: 3px 10px;
  border: 2px solid#303030;
}
.edit{
  background-color: #181818;
  border: none;
  font-size: 26px;
  padding: 5px 12px;
  border-radius: 2px;
  float: left;
}

.edit:hover{
  background-color: #101010;
  padding: 2px 10px;
  border: 2px solid#303030;
}
input, select{
  background-color:#181818;
  border: none;
  outline: none;
  text-align: center;
  border-radius: 2px;
}

.picker{
  margin-bottom: 4px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}
footer p{
  margin-bottom: 8rem;
}
/* Apply responsive design using media queries */
@media screen and (max-width: 546px) {
  body{
    padding: 0;
  }
  div.body {
    width: 100%;
  }

  textarea {
    font-size: 12px;
    width: 86%;
  }
}

@media screen and (max-width: 500px) {
  textarea{
    width: 80%;
  }
}

@media screen and (max-width: 425px) {
  .form-sub{
    display: block;
  }
  .right{
    float: left;
  }
}