body{
  font-size: 16px;
}
div.container ,footer{
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  width: 516px;
  margin: 0 auto;
}
div.content{
  display: grid;
  align-items: center;
  width: 100%;
}
.main{
  margin-bottom: 3rem;
}
.desc{
  padding: 26px 0;
  font-size: 26px;
}
.right{
  float: right;
}
.text{
  display: inline-block;
}
/*navigation*/
.nav-content{
  text-align: center;
  display: inline-block;
  cursor: pointer;
}

.nav-link{
  float: right;
}
ul, li{
  display: inline-block;

}
.nav-link li:hover{
  color: red;
}
/*gallery*/

img{
  width: 100%;
  border-radius: 4px;
  height: auto;
}

.grid-container {
  display: flex;
  gap: 12px;
}

.left-image {
  height: auto;
  width: 100%;
}

.right-images {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 12px;
}

.right-image {
  flex-grow: 1;
  max-height: 50%;
}

footer{
  padding: 34px 0;
}

/*Responsive

/* Apply responsive design using media queries */
@media screen and (max-width: 546px) {
  div.container, footer, .music-container {
    width: 92%;
    padding: 0;
  }

  div.content {
    font-size: 12px;
  }

  img {
    width: 100%; /* Make images full-width on smaller screens */
  }

  .grid-container {
    flex-direction: column; /* Change the layout to a column on smaller screens */
    width: 100%;
  }

  .left-image, .right-images {
    width: 100%; /* Make left and right images full-width on smaller screens */
  }

}



/* Playlist */
.linee{
  margin-top: 3rem;
  border-bottom: 1px solid #696969;
  padding-bottom: 8px;
  font-size: 16px;
}
audio {
  width: 100%; 
}

audio::-webkit-media-controls-panel {
  border: 2px solid;
  border-radius: 3rem;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-pause-button { 
  color: #fff; 
}

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-seek-back-button,
audio::-webkit-media-controls-seek-forward-button {
  color: #F0F0F0;
 
}
