body{
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
}
div.body{
  width: 516px;
  margin: 0 auto;
}
header,main,footer{
  width: 100%;
}
.desc{
  padding: 26px 0;
  font-size: 26px;
}
div.container{
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
	grid-gap: 10px;
}
.row{
	display: flex;
	background-color: #181818;
	transition: 0.2s all ease-in;
	text-overflow: ellipsis;
	overflow: hidden;
  padding: 0 2rem;
}
.form-link{
  width: 100%;
}
.form-title{
  font-size: 26px;
}
.form-date{
 opacity: .1;
 margin-top: -1rem;
}

.row:hover{
	scale: 1.05;
	transition: 0.2s all ease-in;
}

/* Apply responsive design using media queries */
@media screen and (max-width: 546px) {
  body {
    width: 92%;
  }

  div.content {
    font-size: 12px;
  }

  img {
    width: 100%; /* Make images full-width on smaller screens */
  }

  .grid-container {
    flex-direction: column; /* Change the layout to a column on smaller screens */
    width: 100%;
  }

  .left-image, .right-images {
    width: 100%; /* Make left and right images full-width on smaller screens */
  }

}