body{
  display: grid;
  justify-content: center;
  align-items: center;

}
div.body{
  width: 516px;
  margin: 0 auto;
  padding: 0 16px;
}
header,main,footer{
  width: 100%;
}
.h1{
  font-size: 16px;
}
.desc{
  padding: 26px 0;
  font-size: 26px;
}
div.container{
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
	grid-gap: 10px;
}
.row{
	display: flex;
	background-color: #181818;
	transition: 0.2s all ease-in;
	text-overflow: ellipsis;
	overflow: hidden;
  padding: 0 2rem;
}
.form-link{
  width: 100%;
}
.form-title{
  font-size: 26px;
}
.form-date{
 opacity: .1;
 margin-top: -1rem;
}

.row:hover{
	scale: 1.05;
	transition: 0.2s all ease-in;
}
.right{
  float: right;
}

footer p{
  margin-bottom: 8rem;
}
/* Apply responsive design using media queries */
@media screen and (max-width: 546px) {

  div.body {
    width: 100%;
    padding: 0;
  }

  div.content {
    font-size: 12px;
  }

  img {
    width: 100%; /* Make images full-width on smaller screens */
  }

  .grid-container {
    flex-direction: column; /* Change the layout to a column on smaller screens */
    width: 100%;
  }

  .left-image, .right-images {
    width: 100%; /* Make left and right images full-width on smaller screens */
  }

}




.navbar {
  overflow: hidden;
  padding: 26px 0;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
li:hover{
  color: red;
}

.nav-item.active {
  color: #F0F0F0;
}