@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Urbanist', sans-serif;
  background-color: #181818; /* Dark background */
  color: #e0e0e0; /* Light text color */
  margin: 120px;
  height: 900px;
  
}

.grid-container{
  display: grid;
  grid-template-columns: .7fr 1fr;
  grid-template-rows: 230px ;
  grid-template-areas: 
  "profile-icon description"
  ;

  grid-column-gap: 10px;
  grid-row-gap: 40px;
}

.nav-con{
  display: flex;
  background-color: #222;
  box-shadow: 0 4px 8px #222;
  font-size: 10px;
  padding: 5px;
  border-radius: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width:  10px;
  justify-content: center;
  gap: 10px;
  align-items: center;
  top: 8.5%;
  min-width: 110px;
  opacity:inherit;
}

.nav-con a {
  text-decoration: none;
  list-style-type: none;
  padding: 10px;
  
}

.dot {
  height: 17px;
  width: 17px;
  background-color: #868686;
  border-radius: 50%;
  display: inline-block;
}

.dot:hover {
  transition: background-color 0.6s ease-in-out;
  background-color: #fff;
  transform: translatey(-5%);
}




.grid-container {
  border-radius: 30px;
  background-color: #222; /* Dark container background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  max-width: 450px;
  margin: 40px auto;
  padding: 10px;
  text-align: start;
  margin-top: 7%;
}

.image-container {
  height: 370px;
  margin: 10px auto 5px;
  overflow: hidden;
  width: 400px;
  position: relative;
}

.image-container img {
  margin-top: 10px;
  border-radius: 20px;
  height: 350px;
  width: 100%;
  object-fit: cover;
  display: block;
}

.image-text {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
  color: #fff;
  background: #222;
}

.image-text:hover {
  opacity: .9;
  color: #fff;
}

.image-text p {
  color: #fff;
  font-size: 22px;
}

.bottom-container {
  padding: 15px;
  margin-left: 14px;
}

.name {
  font-family: 'Outfit', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  margin-top: 1px;
  color: #fff; /* Light text color */
}

.section {
  font-weight: 300;
  font-size: 1.5rem;
  color: #ccc; /* Lighter text color */
}

@media (max-width: 480px) {
  .nav {
    width: 350px;
    min-width: 350px;
  }
}
