body{
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  margin: 6rem;
  background-image: url('../media/full-logo.png');
  background-repeat: no-repeat;
  background-position: 3rem 11rem;
  background-attachment: fixed;
}
.container{
  width: 300px;
  padding: 4rem;
  background-color: #181818;
  border-radius: 8px;
}
.login-form,.signup-form{
  margin-left: -1rem;
}

.form-group {
  position: relative;
  margin-bottom: 25px;
}

.form-container div {
  display: none;
}

.form-container .active {
  display: block;
}

input {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 16px;
  background-color: #101010;
  border-radius: 6px;
  color: #696969;
}
label {
  position: absolute;
  top: 10px;
  left: 10px;
  transition: .3s;
  pointer-events: none;
  font-size: 16px;
  color: #696969;
}
input:focus ~ label, input:valid ~ label {
  top: -20px;
  color: 	#8f8989;
}
h2{
  margin-bottom: 4rem;
}
.btn{
  padding: 10px 2rem;
  text-align: center;
  border: none;
  color: #696969;
  margin-top: 1rem;
  border-radius: 6px;
  width: 107%;
}
.signup, .forget{
  float: left;
  margin-left: -2rem;
}
.forget{
  margin-top: 4px;
  margin-right: -14px;
  float: right;
}

.signup-form {
  display: none;
}

/* animation */
.fade-in {
  opacity: 1;
  transition: opacity ease-in-out;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.9s ease-in-out;
}

a:hover{
  color: #C0C0C0;
}
