<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DailyJournal</title>
  <link rel="stylesheet" href="../css/default.css">
  <link rel="stylesheet" href="../css/gallery.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>
    $.get("nav.html", function(data){
      $("#nav-container").replaceWith(data);
  });
  </script>
  
</head>
<body data-page="gallery">
  <main>
    <div class="container">
      <div class="content">
        <p class="h1">Gallery</p>
      </div>
      
      <div class="content">
        <p class="desc">A picture is a poem without <span class="primary">words</span></p>
      </div>
      
      <div class="content">
        <p><span class="secondary">Photography</span> <span class="right">10/09/23</span></p>
        <img src="../media/capture.jpeg" alt="">
      </div>

      <div class="content">
        <p><span id="title" class="secondary">Life cycle</span> <span class="right">10/09/23</span></p>

        <div class="grid-container">
          <img class="left-image" src="../media/img1.jpg" alt="Left Image" id="myImage">
          <div class="right-images">
              <img class="right-image" src="../media/img3.jpeg" alt="Right Image 1" id="myImage2">
              <img class="right-image" src="../media/img4.jpg" alt="Right Image 2" id="myImage3">
          </div>
        </div>

        <div class="nav-container">
          <ul class="nav-link">
            <li id="change-img1">1</li>
            <li id="change-img2">2</li>
            <li id="change-img3">3</li>
          </ul>
        </div>
      
      </div>

      <div class="content">

        <p class="secondary linee">Playlist</p>

        <div class="music-container">
          <p>1. This mirrors the real-life experience of young people leaving home and venturing into the world to find their own path.</p>
          <audio controls>
            <source src="../media/Joe Hisaishi  A Town with an Ocean View.mp3" type="audio/ogg">
            <source src="../media/Joe Hisaishi  A Town with an Ocean View.mp3" type="audio/mpeg">
          </audio>
        </div>
        
        <div class="music-container">
          <p>2. The music describe the world closing its eyes to them, allowing them to hide away and sleep peacefully among the endives1.</p>
          <audio controls>
            <source src="../media/Asleep Among Endives  short piano cover.mp3" type="audio/ogg">
            <source src="../media/Asleep Among Endives  short piano cover.mp3" type="audio/mpeg">
          </audio>
        </div>
        
        <div class="music-container">
          <p>3. This can be seen as a commentary on the challenges of self-acceptance and finding one's place in a world that can be harsh and unforgiving.</p>
          <audio controls>
            <source src="../media/Porko Rosso Ending Theme Instrumental.mp3" type="audio/ogg">
            <source src="../media/Porko Rosso Ending Theme Instrumental.mp3" type="audio/mpeg">
          </audio>
        </div>
      </div>
    </div>
  </main>

  <footer>
    <div class="content">
      <p class="h2">© 2023 Project <span class="right">10/09/23</span></p>
    </div>
  </footer>

  <div id="nav-container"></div>

  <script src="/js/gallery.js"></script>

</body>
</html>