<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DailyJournal</title>
  <link rel="stylesheet" href="../css/default.css">
  <link rel="stylesheet" href="../css/gallery.css">
</head>
<body>
  <div class="container">
    <div class="content">
      <p class="h1">/Gallery</p>
    </div>
    
    <div class="content">
      <p>A picture is a poem without <span class="primary bold">words</span></p>
    </div>

    <div class="content">
      <p class="h2">theme <span class="right">10/09/23</span></p>
      <div class="img-container">
        <img src="#" alt="">
      </div>
    </div>
  </div>
  
</body>
</html>