<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="/profile/activePage.js"></script>
    <title>nav</title>
</head>
<body>
    <div id="nav-container">
        <nav class="nav">
          <a href="profile.html" data-page="profile" title="profile" ><span class="material-symbols-outlined">
            group
            </span></a>
          <a href="gallery.html" data-page="gallery" title="gallery" ><span class="material-symbols-outlined">
            gallery_thumbnail
            </span></a>
          <a href="list.html" data-page="list" title="list" ><span class="material-symbols-outlined">
            list_alt
            </span></a>  
            <span>|</span>
          <a href="create.html" data-page="create" title="create" ><span class="material-symbols-outlined">
            add_circle
            </span></a>
        </nav>
      </div>  

  <script>
    // Get the current page URL
  const currentPage = document.body.getAttribute("data-page");
    const navLinksGlobal = document.querySelectorAll(".nav a");
    const navLinksLocal = document.querySelectorAll(".nav-con .dot");

    navLinksGlobal.forEach(link => {
        if (link.getAttribute("data-page") === currentPage) {
            link.classList.add("active");
        }
    });

    navLinksLocal.forEach(dot => {
        if (dot.getAttribute("data-page") === currentPage) {
            dot.classList.add("active");
        }
    });


  </script>
</body>
</html>