
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
  <link rel="stylesheet" href="../css/profile.css">
  
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>
    $.get("nav.html", function(data){
      $("#nav-container").replaceWith(data);
  });
  </script>
</head>
<body data-page="profile">

  <div class="nav-container-con">
    <nav class="nav-con">
      <span class="dot" data-page="profile" id="profile1"><a href="profile.html"></a></span>
        <span class="dot" data-page="profile2" id="profile2"></a></span>
     <span class="dot" data-page="profile3" id="profile3"></span>
     <span class="dot" data-page="profile4" id="profile4"></span>
    </nav>
  </div>  
<main>
  <div class="grid-container">
    <div class="image-container">
      <img src="../media/profile.jpg" alt="profile">
      <div class="image-text">
        <p>I'm Norriel Fabria, 21</p>
        <p> 3rd yr BSIT students in Araullo University</p>
      </div>    
    </div>
    <div class="bottom-container">
      <h1 class="name">Norriel</h1>
    </div>
  </div>  
  <div class="grid-container1">
    <div class="iframe">
      <iframe width="400" height="400" src="https://www.youtube.com/embed/V8pimNR30Fo" title="Tutorial push up ala bocil 😂 #memes #videolucu #shorts #fyp" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>  </div>
</div>
</main>
  <div id="nav-container"></div>
  <script src="/js/profile.js"></script>
</body>
</html>
