<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Friends</title>
  <link rel="stylesheet" href="../css/profile.css">
  <link rel="stylesheet" href="../css/nav.css">
  
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>
    $(document).ready(function() {
      $("#nav-container").load("nav.php");
    });
  </script>
</head>
<body data-page="profile">

  <div class="nav-container-con">
    <nav class="nav-con">
      <span class="dot"><a href="profile.html"></a></span>
        <span class="dot"><a href="profile2.html"></a></span>
     <span class="dot"><a href="profile3.html"></a></span>
      
    </nav>
  </div>  
<main>
  <div class="grid-container">
    <div class="image-container">
      <img src="../media/profile.jpg" alt="profile">
      <div class="image-text">
        <p>I'm Norriel Fabria, 21</p>
        
<p> 3rd yr BSIT students in Araullo University</p>
      </div>    
    </div>
    <div class="bottom-container">
      <h1 class="name">Roi</h1>
    </div>
  </div>  
  <div class="grid-container1">
    <div class="iframe">vid</div>
  </div>
</main>

  <div id="nav-container"></div>


</body>
</html>
