
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Friends</title>
  <link rel="stylesheet" href="../css/profile.css">
  <link rel="stylesheet" href="../css/default.css">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>
    $.get("nav.html", function(data){
      $("#nav-container").replaceWith(data);
  });
  </script>
</head>
<body data-page="profile">

<main>
    
  <div class="grid-container">
   
    <div class="profile-icon">
      <div class="grid-profile">
      <div class="logo"><img src="../media/profile.jpg" alt="profile" srcset=""></div>
      <div class="nextbtn"><button type="button" >
        <span class="material-symbols-outlined">
          arrow_forward_ios
          </span>
      </button></div>
      </div>
    </div>
  <div class="description">des
    <div class="name">Name: Norriel Fabria</div>
    <div class="section">Section: IT3 South3</div>
    <div class="age">Age: 21 years old </div>
  </div>
    
  </div>
  <div class="grid-container1">
    <div class="iframe">vid</div>
  </div>
</main>

  <div id="nav-container"></div>

</body>
</html>
